<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>SogaMove</h1>
        <form>
            <label for="documentType">Tipo de documento</label>
            <select id="documentType" required>
                <option value="">Seleccione</option>
                <option value="CC">Cédula de ciudadanía</option>
                <option value="CE">Cédula de extranjería</option>
                <option value="TI">Tarjeta de identidad</option>
            </select>

            <div class="form-row">
                <div class="form-group">
                    <label for="birthDate">Fecha de nacimiento</label>
                    <input type="date" id="birthDate" placeholder="dd/mm/aaaa" required>
                </div>
                <div class="form-group">
                    <label for="expeditionDate">Fecha expedición</label>
                    <input type="date" id="expeditionDate" placeholder="dd/mm/aaaa" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="firstName">Nombres</label>
                    <input type="text" id="firstName" placeholder="Nombres" required>
                </div>
                <div class="form-group">
                    <label for="secondName">Apellidos </label>
                    <input type="text" id="secondName" placeholder="Apellidos">
                </div>
            </div>

            <label for="email">Correo electrónico</label>
            <input type="email" id="email" placeholder="Correo electrónico" required>

            <div class="form-row">
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmar contraseña</label>
                    <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" required>
                </div>
            </div>

            <div class="form-group checkbox">
                <input type="checkbox" id="terms" required>
                <label for="terms">Acepto la política de tratamiento de datos personales</label>
            </div>

            <div class="btn-container">
                <button type="button" class="btn-secondary">Regresar</button>
                <button type="submit" class="btn">Crear cuenta</button>
            </div>
        </form>
    </div>
</body>
</html>
